<header>
  <div class="wrapper header__container">
    <div class="header__left">
      <h1 class="header__title" routerLink="/"><span class="purple">XAS</span>on</h1>

      <!-- я думаю это сделать кнопкой, чтобы при нажатии на неё поднималась модалка -->
      <!-- и было примерно как на каталоге онлайнера -->
      <div class="header__search">
        <tui-icon icon="@tui.search" />
        Search
      </div>
    </div>

    <div class="header__right">
      <div class="header__link" routerLink="/home" routerLinkActive="header__link-active">
        <tui-icon icon="@tui.house" />
        Home
      </div>
      <div class="header__link" routerLink="/catalog" routerLinkActive="header__link-active">
        <tui-icon icon="@tui.package" />
        Catalog
      </div>
      <div class="header__link" routerLink="/about-us" routerLinkActive="header__link-active">
        <tui-icon icon="@tui.users" />
        About us
      </div>

      <!-- Здесь сделать открытие по клику дропдауна со списком -->
      <!-- Залогинены - аккаунт, корзина -->
      <!-- Незалогинены - войти (редирект на авторизацию), корзина -->
      <div class="header__profile">
        <tui-icon icon="@tui.user-round" />
      </div>
    </div>
  </div>
</header>
