:host {
  display: block;
  border-bottom: 1px solid #e5e7eb;
  padding: 10px 0;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__title {
    cursor: pointer;
    font-size: 36px;

    margin: 0;
    padding: 0;

    span {
      transition: 0.3s;
    }

    &:hover {
      span.purple {
        color: blueviolet;
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 18px;

    width: 320px;

    background-color: #4b4b4b;

    padding: 8px;

    cursor: pointer;

    border-radius: 8px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 20px;

    cursor: pointer;

    transition: 0.3s;

    &:hover {
      color: blueviolet;
    }

    &-active {
      color: blue;
    }
  }

  &__profile {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #e5e7eb;
    border-radius: 50%;

    cursor: pointer;
  }
}
