<h1 class="login-title">Greetings, adventurer.</h1>
<p class="register">Are you new here? <a [routerLink]="PAGES.REGISTER.link">Register.</a></p>

<form [formRoot]="loginForm">
  <xas-input [formField]="loginForm.email" label="Email" />

  <xas-password-input [formField]="loginForm.password" label="Password" />

  <div class="form-buttons">
    <button tuiButton size="m" appearance="secondary" type="button" (click)="clearForm()">
      Clear
    </button>
    <button tuiButton size="m" type="submit">Login</button>
  </div>
</form>
