<label tuiLabel class="input-label">
  {{ label() }}
  <tui-textfield tuiTextfieldSize="m">
    <input
      tuiInput
      [type]="isVisible() ? 'text' : 'password'"
      [value]="value()"
      [invalid]="touched() && invalid()"
      (input)="value.set($event.target.value)"
      (blur)="touch.emit()"
    />
    <tui-icon
      class="input-eye"
      [icon]="isVisible() ? '@tui.eye-off' : '@tui.eye'"
      (click)="togglePasswordVisibility()"
    />
  </tui-textfield>
</label>

@if (touched() && invalid()) {
  @let error = errors()[0];

  @if (error) {
    <div class="input-error">{{ error.message }}</div>
  }
}
