<div class="container">
  <label for="{{ inputId() }}">{{ inputLabel() }}</label>
  @if (inputType !== 'image') {
    <input
      [type]="inputType"
      [placeholder]="inputPlaceholder()"
      [id]="inputId()"
      [formControl]="control()"
      [value]="value()"
    />
  } @else {
    <input
      [type]="inputType"
      [placeholder]="inputPlaceholder()"
      [id]="inputId()"
      [formControl]="control()"
    />
  }
  <span class="error-message">{{ errorMessage() }}</span>
  @if (incomingInputType() === 'password') {
    <div class="toggle-password-container">
      <input type="checkbox" (change)="togglePasswordVisibility()" /> Show Password
    </div>
  }
</div>
