<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  @for (field of fields; track field.label) {
    <!-- todo добавить проброс label, placeholder, сделать кастомный текст ошибки -->
    <xas-reactive-input [formControl]="field.control" />

    <!-- <xas-reactive-form-input
      [inputLabel]="field.label"
      [incomingInputType]="field.type"
      [inputId]="field.label"
      [control]="field.control"
      [errorMessage]="field.control.errors?.['required'] ? field.errorMessage : ''"
      [inputPlaceholder]="field.placeholder"
    /> -->
  }
  <button type="submit">Register</button>
</form>
