<h1 class="title">We welcome you, adventurer.</h1>
<p class="register">You've been here before? <a [routerLink]="PAGES.LOGIN.link">Login.</a></p>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  @for (field of fields; track field.label) {
    <!-- todo добавить проброс label, placeholder, сделать кастомный текст ошибки -->
    @if (field.type === 'password') {
      <xas-reactive-password-input
        [formControl]="field.control"
        [label]="field.label"
        [placeholder]="field.placeholder || 'Enter your password'"
      />
    } @else {
      <xas-reactive-input
        [formControl]="field.control"
        [label]="field.label"
        [placeholder]="field.placeholder"
        [type]="field.type"
      />
    }
  }
  <div class="form-buttons">
    <button tuiButton size="m" appearance="secondary" type="button" (click)="clearForm()">
      Clear
    </button>
    <button tuiButton sime="m" type="submit">Register</button>
  </div>
</form>
