@if (isEditMode()) {
  <form [formGroup]="editForm">
    @for (fields of inputFields; track fields.label) {
      <xas-reactive-input
        [formControl]="fields.control"
        [label]="fields.label"
        [placeholder]="fields.placeholder"
        [type]="fields.type"
      />
    }
    <div class="button-container">
      <button tuiButton size="m" type="button" [disabled]="isSaving()" (click)="saveChanges()">
        Save
      </button>
      <button tuiButton size="m" type="button" [disabled]="isSaving()" (click)="toggleEditMode()">
        Cancel
      </button>
    </div>
  </form>
} @else {
  <div tuiPlatform="web">
    <h1>Personal Information</h1>
    <div class="card" appearance="primary" tuiCardLarge>
      <section class="card__content">
        <div class="card_avatar" tuiAvatar="@tui.user-round" size="xxl"></div>
        <button tuiButton appearance="primary" size="m" type="button" disabled>
          <tui-icon icon="@tui.edit" />
          Change Avatar
        </button>
      </section>
      <section class="card__content">
        <p tuiDescription>Email: {{ user().email | defaultValue }}</p>
        <p tuiDescription>First Name: {{ user().firstName | defaultValue }}</p>
        <p tuiDescription>Last Name: {{ user().lastName | defaultValue }}</p>
        <p tuiDescription>Date of Birth: {{ (user().dateOfBirth | date: 'dd.MM.yyyy') | defaultValue }}</p>
        <p tuiDescription>Street: {{ user().street | defaultValue }}</p>
        <p tuiDescription>City: {{ user().city | defaultValue }}</p>
        <p tuiDescription>Postal Code: {{ user().postalCode | defaultValue }}</p>
        <p tuiDescription>Country: {{ user().country | defaultValue }}</p>
      </section>
    </div>
  </div>
  <button tuiButton appearance="primary" size="m" type="button" (click)="toggleEditMode()">
    <tui-icon icon="@tui.edit" />
    Edit
  </button>
}
