/* You can add global styles to this file, and also import other style files */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

:root {
  --bg-primary: #e2e2e2;
}

:root.dark-mode {
  --bg-primary: #303030;
}

body {
  background-color: var(--bg-primary);
}
