/* You can add global styles to this file, and also import other style files */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

:root {
  --bg-primary: #e2e2e2;

  --purple-deep: #1a0033;
  --purple-dark: #3b067a;
  --purple-primary: #6a0dad;
  --purple-warm: #5b008b;
  --purple-medium: #9370db;
  --purple-light: #b388ff;
  --purple-accent: #9b30ff;
  --yellow: #ffd700;
  --lime: #32cd32;
}

:root.dark-mode {
  --bg-primary: #303030;
}

body {
  background-color: var(--bg-primary);
}
